---
- name: Install Java (required by Jenkins)
  apt:
    name: openjdk-11-jdk
    state: present
    update_cache: yes
  become: yes

- name: Add Jenkins repository key
  apt_key:
    url: https://pkg.jenkins.io/debian/jenkins.io.key
    state: present
  become: yes

- name: Add Jenkins repository
  apt_repository:
    repo: 'deb http://pkg.jenkins.io/debian-stable binary/'
    state: present
  become: yes

- name: Install Jenkins
  apt:
    name: jenkins
    state: present
    update_cache: yes
  become: yes

- name: Ensure Jenkins is running
  service:
    name: jenkins
    state: started
    enabled: yes
  become: yes
